@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&family=Roboto&display=swap");
:root {
    --background: #e5e5e5;
    --nav-color: #327d7d;
    --box1: #327d7d;
    --box2: #f08e3b;
    --box3: #2b353e;
    --list-color: #ffffffad;
    --extra: rgba(255, 255, 255, 0.2);
    --chat-color: #ffffe1;
    --section-upper: #f08e3b;
    --left-colors: #fffffff6;
    --section-middle: #50839bee;
    --section-lower: #e8fbff71;
    --bad-color: #302f2f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: var(--background);
    color: #333;
    font-family: Roboto, san-serif;
    font-size: 16px;
     overflow-x: hidden;
    appearance: none;
    outline: none;
}

img {
    max-width: 100%;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 110px 0 100px;
}
header,nav,
section,footer {
    width: 82%;

}

header {
    margin-top: 70px;
    background: red;
    height: 100px;
    margin: 0 120px 0 135px;

}

header .container {
    padding: 0;
}

header .box.model {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 120px;
    height: 30px;
    margin-bottom: 45px;

}

.box1, .box2,
 .box3 {
     width: 30px;
     height: 30px;
     margin: 0 10px 10px 0;
 }
 .box1 {
     background: var(--box1);
 }

 .box2 {
    background: var(--box2);
}
.box3 {
    background: var(--box3);
}
header h1 {
    font-family: roboto;
}

nav {
    background: var(--nav-color);
    height: 60px;
    margin: 0 120px 0 135px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
}

nav .logo {
    font-size: x-large;
    font-family: poppins;
    font-weight: 500;
}

.logo span {
    color: var(--chat-color);
}

.logo span.app {
    font-weight: lighter;
}

.list {
    margin-left: auto;
}

.list ul {
    list-style: none;
    display: flex;
}

.list ul li {
    width: 45px;
    height: 30px;
    margin-right: 6px;
    margin-left: 6px;
}

.list li a {
    text-decoration: none;
    color: var(--list-color);
    font-size: 12px;
 }

 nav .extra {
    background: var(--extra);
    width: 90px;
    height: 30px;
    border-radius: 20px;
    margin-top: -10px;

 }
 .extra a {
     text-decoration: none;
     display: inline-block;
     color: var(--list-color);
     margin: 8px 0 2px 18px;
     font-size: 12px;
 }

  section.upper {
     background: var(--nav-color);
     height: calc(70vh - 10px);
     min-height: 750px;
     margin: 0 120px 0 135px;
 }
 
  section.upper .container {
     padding-top: 70px;
     display: flex;
     justify-content: space-between;
 }

 section.upper .left {
     width: 350px;
     height: 350px;
     margin-top: 80px;
 }

 .left h1 {
     font-size: 3.5em;
     color: #fff;
     line-height: 1.2;
     font-family: poppins;
 }

 .left p {
     margin-top: 10px;
     margin-bottom: 10px;
     color: #fff;
     font-size: 18px;
 }

  .link {
     width: 100%;
     display: flex;
     justify-content: space-between;
     height: 45px;
     margin-top: 30px;
 }
 .left .link div {
     transition: transform calc(2s - 900ms) ease;
 }
 .left .link div:hover {
     transform: translateY(-10px);
 }

  .link .zero { 
     background: #fff;
     width: 130px;
     border-radius: 30px 30px;
     height: 38px;

 }

 .link .zero a.first {
     display: inline-block;
     padding: 10px 0 2px 25px;
     text-decoration: none;
     font-size: 14px;
     color: var(--nav-color);
 }
 .link .null { 
    border: 1px solid #fff;
    width: 130px;
    border-radius: 30px 30px;
    height: 38px;
    margin-right: 60px;

}

.link .null a.second {
    display: inline-block;
    padding: 10px 0 2px 25px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.profile.photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    clip-path: circle(50% at 47% 50%);
}

.profile1 .photo {
    clip-path: circle(50% at 47% 70%);

}

.profile2 .photo {
    clip-path: circle(50% at 45% 55%);

}

section.upper .right {
    width: 600px;
    height: 400px;
    position: relative;
}


.right > img {
    width: 175px;
    height: 280px;
}

.smile1 {
    position: absolute;
    top: 60px;
    left: 155px;
}

.smile2 {
    position: absolute;
    right: 0;
    top: 245px;
}

.right .top.image {
    border-radius: 50%;
}

.right .top.image .vertical {
    display: grid;
    grid-template: repeat(10, 13px) / repeat(2, 13px);
    justify-content: center;
    padding: 0 20px;
    position: absolute;
    top: 38px;
    left: 110px;
}

.right .top.image .vertical img {
    width: 4px;
}

.right .top.image .horizontal {
    display: grid;
    grid-template: repeat(2, 13px) / repeat(8, 13px);
    justify-content: center;
    padding: 0 20px;
    position: absolute;
    top: 38px;
    left: 135px;
}

.right .top.image .horizontal img {
    width: 4px;
}

.right .bottom.images .vertical {
    display: grid;
    grid-template: repeat(7, 13px) / repeat(3, 13px);
    justify-content: center;
    padding: 0 20px;
    position: absolute;
    bottom: 50px;
    left: 320px;
}

.right .bottom.images .vertical img {
    width: 4px;
}

.right .bottom.images .horizontal{
    display: grid;
    grid-template: repeat(3, 13px) / repeat(7, 13px);
    justify-content: center;
    padding: 0 20px;
    position: absolute;
    bottom: 13px;
    left: 268px;
}

.right .bottom.images .horizontal img {
    width: 4px;
}



.profile1 {
    width: 300px;
    height: 60px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: start;
    position: absolute;
    top: 130px;
    left: 300px;
    }

    .profile1 span {
        font-size: 12px;
        color: #fff;
        width: 10rem;
        height: 1.8rem;
        background: var(--box2);
        display: inline-block;
        padding: 5px 4px 2px 6px;
        border-radius: 0 30px 30px 30px;
    }

    .profile1 .photo {
        margin-top: -5px;
    }

    .ellipse {
        width: 4rem;
        height: 2rem;
        background: var(--extra);
        position: absolute;
        left: 400px;
        top: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        border-radius: 0 10px 10px 10px;
    }

    .ellipse1 {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--list-color);
    }

    .ellipse2 {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: var(--list-color);
    }

    .ellipse3 {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: var(--list-color);
    }

    .profile2 {
        width: 150px;
        height: 60px;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: start;
        position: absolute;
        top: 350px;
        left: 140px;
        }

        .profile2 span {
            font-size: 12px;
            color: #fff;
            width: 5rem;
            height: 1.8rem;
            background: var(--box2);
            display: inline-block;
            padding: 4px 4px 2px 17px;
            border-radius: 30px 0 45px 30px;
        }

        section.middle {
            background: #fff;
            height: 80vh;
            min-height: 900px;
            margin: 0 120px 0 135px;
        }

        section.middle .container {
            position: relative;
            padding-top: 90px;
        }

        section.middle .head {
            width: 540px;
            margin: 0 auto;
            text-align: center;
        }
        section.middle .head h1 {
            font-size: 2.4em;
            padding-bottom: 30px;
        }

        section.middle .head p {
            color: var(--section-middle);
            text-indent: 30px;
        }

        section.middle .body {
            position: relative;
            margin: 0 auto;
        }

        section.middle .up.image  {
            border-radius: 50%;
        }
        
        section.middle .up.image .vertical {
            display: grid;
            grid-template: repeat(8, 13px) / repeat(3, 13px);
            justify-content: center;
            position: absolute;
            top: 48px;
            left: 22px;
        }

        section.middle .up.image .vertical img {
            width: 4px;
        }

        section.middle .up.image .horizontal {
            display: grid;
            grid-template: repeat(2, 13px) / repeat(10, 13px);
            justify-content: center;
            position: absolute;
            top: 22px;
            left: 22px;
        }

        section.middle .up.image .horizontal img {
            width: 4px;
        }

        section.middle .down.image {
            display: grid;
            grid-template: repeat(10, 13px) / repeat(3, 13px);
            justify-content: center;
            position: absolute;
            bottom: 78px;
            right: 0;
        }

        section.middle .down.image img {
            width: 4px;
        }
     
      section.lower {
          background: var(--section-lower);
          height: 95vh;
          min-height: 730px;
          margin: 0 120px 0 135px;
      }

      section.lower .container {
          padding: 0;
          padding-top: 140px;
          display: flex;
          align-items: center;
          justify-content: space-between;
      }

      section.lower .left {
          width:480px;
          position: relative;
          bottom: 55px;
      }

      section.lower .left .lower.image {
          display: grid;
          grid-template: repeat(2, 13px) / repeat(10, 13px);
          justify-content: center;
          padding: 0 20px;
          position: absolute;
          top: -25px;
          left: 0;
      }

      section.lower .left .lower.image img {
          width: 4px;
          border-radius: 50%;
      }

     section.lower .left .lowest.image .vertical {
        display: grid;
        grid-template: repeat(10, 13px) / repeat(3, 13px);
        justify-content: center;
        padding: 0 20px;
        position: absolute;
        top: 255px;
        left: 392px;
    }

    section.lower .left .lowest.image .vertical img {
        width: 3.5px;
        border-radius: 50%;
    }


    section.lower .left .lowest.image .horizontal {
        display: grid;
        grid-template: repeat(3, 13px) / repeat(7, 13px);
        justify-content: center;
        padding: 0 20px;
        position: absolute;
        top: 345px;
        left: 300px;
    }

    section.lower .right {
        width: 600px;
        margin-left: 200px;
        margin-bottom: 140px;
    }

    section.lower .left .lowest.image .horizontal img {
        width: 3.5px;
        border-radius: 50%;
    }

    section.lower h1 {
        font-size: 2.4em;
        font-family: poppins;
        margin: 10px 30px;
    }

    section.lower span.price {
        display: inline-block;
        margin: 15px 30px;
        color: var(--section-middle);
        font-size: 20px;
    }

    section.lower .target {
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin: 15px 28px;
        
    }

    section.lower .target div {
        transition: transform 1s;
    }
     
    section.lower .target div:hover {
        transform: translateY(-10px);
    }


    section.lower .target .hero {
        width: 130px;
        height: 35px;
        border-radius: 30px 30px;
        background: var(--nav-color);
    }

    section.lower .target .hero a {
        text-decoration: none;
        display: inline-block;
        padding: 7px 0 10px 25px;
        color: #fff;
    }

    section.lower .target .all {
        width: 130px;
        height: 35px;
        border-radius: 30px 30px;
        border: 1px solid var(--nav-color);
    }

     section.lower .target .all a {
         text-decoration: none;
         display: inline-block;
         padding: 7px 0 10px 25px;
         color: var(--nav-color);
     }

      section.lower .right .rating {
          width: 400px;
          height: 60px;
          display: flex;
          gap: 2.5rem;
          margin-top:60px;
          margin-left: 30px;
      }



      .rating .star img {
          display: inline-block;
          width: 18px;
          height: 18px;
          margin: 2px 2px;
      }

      .rating span {
          font-family: roboto, san-serif;
          font-size: 15px;
      }

      footer {
          background: #fff;
          height: 70vh;
          min-height: 500px;
          margin: 0 120px 0 135px;
      }

      footer .container {
          position: relative;
          display: flex;
          flex-direction: column;
      }

      footer .container .intro {
          width: 180px;
          margin-top: 80px;

      }

      footer main {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      footer .intro h3 {
          font-size: x-large;
          font-family: poppins;
          margin-bottom: 10px;
      }

      footer h3 span {
          color: var(--nav-color);
      }

      footer h3 span.app {
          color: var(--box1);
          font-weight: lighter;
      }

      footer .table {
          margin-top: 135px;
          font-size: 12px;
          height: 138px;
          width: 600px;
      }

      footer table thead th {
          text-align: left;
      }

      footer table thead td {
          text-align: left;
      }
       
      footer .intro p {
          font-size: 12px;
      }

      footer table thead th {
          font-weight: bold;
          font-size: 19px;
          padding-bottom: 10px;
      }

    footer table tbody tr:last-child td:last-child {
        vertical-align: text-top;
    }

    footer .container > span {
        position: absolute;
        top: 470px;
        font-size: 12.5px;
    }
    /* END OF STYLE */
    

    @Media screen and (max-width: 1180px) {
        header {
            margin-top: 65px;
            height: 80px;
        }
        header .container{
            height: 15px;
        }

        header .box.model div {
            width: 25px;
            height: 25px;
        }

        header h3 {
            font-size: 15px;
            margin-top: -15px; }
    
        nav .logo span{
            font-size: 19.5px;
        }

        .list ul {
            font-size: 11px;
        }
        .extra {
            width: 25px;
        }

        section.upper{
             margin-top: -5px;
        }
        section.upper .left h1 {
            font-size: 3em;
        }
        .left .link {
            height: 30px;
        }
        .left .link div {
            width: 104px;
            height: 35px;
        }
        .link div.zero {
            margin-right: 10px;
        }
        .link div a {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        section.upper .right {
            margin-left: -15px;
        }

        .right .smile1 {
            width: 130px;
            height:200px;
            
        }

        .right .smile2 {
            width: 130px;
            height:200px;
            margin-right: -51px;
        }
        .right .ellipse {
            left: 340px;
        } 
        .right .bottom.images .vertical {
            position: absolute;
            left: 275px;
            top: 180px;
        }
        .right .bottom.images .horizontal {
            position: absolute;
            left: 223px;
            top: 270px;
        }

        .profile1 {
            position: absolute;
            left: 238px;
        }
        .profile1 span {
            width: 9rem;
            font-size: 11px;
        }
        .profile2 {
            position: absolute;
            left: 120px;
            top: 270px;
            width: 120px;
            display: flex;
            gap: 0.5rem;
        }
        .profile2 span {
            width: 4rem
        }

        section.middle h1 {
            font-size: 2em;
        }
        section.lower p {
            font-size: 14px;
        }
        section.lower .left .lowest.image .vertical {
              top: 245px;
              left: 255px;
        }
        section.lower .left .lowest.image .horizontal {
            top: 336px;
            left: 165px;
      }
        .pixel {
            width: 600px;
            height: 320px;
        }
        .rating .star {
            width: 148px;
        }

       .right .rating .star img {
            width: 16.5px;
            height: 16.5px;
        }
        .rating span {
            margin-left: -40px;
        }

        footer .table {
            margin-left: 100px;
            font-size: 11px;
        }
        footer .container > span {
            margin-top: -25px;
        }
    }
    @Media screen and (max-width: 1090px) {
        section.upper .right {
            margin-left: -43px;
        }
        .right .smile1 {
            width: 130px;
            height:200px;
            
        }
        .right .smile2 {
            width: 140px;
            height: 200px;
            margin-right: -42px;
        }
           
        section.middle .head h1 {
            font-size: 1.9em;
        }
        section.middle .head p {
            font-size: 15px;
        }
        .right .rating .star img {
            width: 14px;
            height: 14px;
        }

        .link .null a.second {
            display: inline-block;
            padding: 8px 2px 2px 17px;
        }
        section.lower .left {
            margin-right: -90px;
              width: 600px;
        }
        section.lower .left .lowest.image .vertical {
            top: 245px;
            left: 330px;
      }
      section.lower .left .lowest.image .horizontal {
          top: 336px;
          left: 241px;
    }
    section.lower .right h1 {
        font-size: 1.9em;
    }
    section.lower .right .rating {
        margin-top: 35px;

    }
    section.upper {
        min-height: 660px;
        z-index: 2;
    }
    section.middle {
        min-height: 720px;
        margin-top: -40px;
        z-index: 1;
    }
    section.lower {
        min-height: 600px;
    }
    footer {
        min-height: 400px;
    }

    footer .container > span {
        margin-top: -45px;
    }
    }
    @media screen and (max-width: 1078px) {
        section.upper .right {
            margin-left: -51px;
        }
        section.lower .left .lowest.image .vertical {
            top: 245px;
            left: 310px;
      }
      section.lower .left .lowest.image .horizontal {
          top: 336px;
          left: 220px;
    }

    }
    @media screen and (max-width: 1071px) {
        section.upper .right {
            margin-left: -57px;
        }
    }
    @media screen and (max-width: 1065px) {
        section.upper .right {
            margin-left: -60px;
        }
    }
    @media screen and (max-width: 1060px) {
        section.upper .right {
            margin-left: -78px;
        }
        .right .smile2 {
            top: 230px;
            margin-right: -35px;
        }
        
        section.lower .left .lowest.image .vertical {
            top: 245px;
            left: 295px;
      }
      section.lower .left .lowest.image .horizontal {
          top: 336px;
          left: 207px;
    }
    
    }
    @media screen and (max-width: 1045px) {
        section.upper .right {
            margin-left: -90px;
        }
        .right .smile2 {
            top: 230px;
        } 
        section.upper .left h1 {
            font-size: 2.8em;
        } 
    }
    @media screen and (max-width: 1033px) {
        section.upper .right {
            margin-left: -100px;
        }
        .right .smile2 {
            top: 230px;
        } 
        section.upper .left h1 {
            font-size: 2.8em;
        }
        section.middle .head p {
          font-size: 13.4px;
        } 
    }

    @media screen and (max-width: 1019px) {
        section.upper .right {
            margin-left: -105px;
        }
        section.upper .left h1 {
            font-size: 2.5em;
        } 
          
        section.lower .left .lowest.image .vertical {
            top: 245px;
            left: 270px;
      }
      section.lower .left .lowest.image .horizontal {
          top: 336px;
          left: 180px;
    }

    }

    @Media screen and (max-width: 1011px) {
        section.upper .right {
            margin-left: -115px;
        }

 } 

 @Media screen and (max-width: 1003px) {
    section.upper .right {
        margin-left: -115px;
    }

    section.lower .container .right h1 {
        font-size: 1.7em;
        line-height: 1.3;
    }

    section.lower .right .target > div {
        width: 7rem;
    }
    section.lower .right .target .all {
        margin-right: 55px;
    }
    section.lower .right .target .all a {
        display: inline-block;
        padding: 6px 2px 2px 15px;
    }

}

@media screen and (max-width: 999px) {
    section.upper .right {
        margin-left: -115px;
    }
    .right .smile1 {
        width: 130px;
        height:200px;
        
    }
    .right .smile2 {
        width: 140px;
        height: 200px;
        margin-right: -42px;
    }
       
}
@Media screen and (max-width: 988px) {
    section.upper .right {
        margin-left: -120px;
    }
    .right .smile1 {
        width: 120px;
        height:180px;
        
    }
    .right .smile2 {
        width: 120px;
        height: 180px;
        margin-right: -30px;
    }
    section.upper .right .bottom.images .vertical {
        position: absolute;
        left: 262px;
        top: 176px;
    }
    section.upper .right .bottom.images .horizontal {
        position: absolute;
        left: 222px;
        top: 245px;
    }
    .right .bottom.images .vertical {
        display: grid;
        grid-template: repeat(7, 10px) / repeat(3, 10px);
        justify-content: center;
        padding: 0 20px;
        position: absolute;
        bottom: 50px;
        left: 320px;
    }
    
    .right .bottom.images .vertical img {
        width: 3px;
    }
    
    .right .bottom.images .horizontal{
        display: grid;
        grid-template: repeat(3, 10px) / repeat(7, 10px);
        justify-content: center;
        padding: 0 20px;
        position: absolute;
        bottom: 13px;
        left: 268px;
    }
    .right .bottom.images .horizontal img {
        width: 3px; }

        
.right .top.image .vertical {
    display: grid;
    grid-template: repeat(10, 13px) / repeat(2, 13px);
    justify-content: center;
    padding: 0 20px;
    position: absolute;
    top: 38px;
    left: 110px;
}

.right .top.image .vertical img {
    width: 3px;
}

.right .top.image .horizontal {
    display: grid;
    grid-template: repeat(2, 10px) / repeat(8, 10px);
    justify-content: center;
    padding: 0 20px;
    position: absolute;
    top: 38px;
    left: 135px;
}

.right .top.image .horizontal img {
    width: 3px;
}

.profile1 {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    left: 210px;
}
.profile1 span {
    width: 7.5rem;
    font-size: 10px;
    display: inline-block;
    padding: 8px 2px 2px 2px;
}
.profile2 {
    position: absolute;
    left: 110px;
    top: 270px;
    width: 120px;
    display: flex;
    gap: 0.3rem;
}
.profile2 span {
    margin-left: 2rem;
    width: 3.5rem;
    font-size: 10px;
    padding: 8px 1px 1px 10px;
}

section.lower .left {
    margin-right: -120px;
      width: 600px;
}

footer .table th {
    font-size: 14px;
}
footer .table th,td {
    width: 80px;
    height: 30px;
    text-align: center;
}

         
}
@media screen and (max-width: 952px) {
    section.upper .left h1 {
      font-size: 2.5em;
    }
    section.upper .left {
        margin-left: -15px;
    }
     section.upper .left p {
       font-size: 15px;
     }
     section.upper .right {
        margin-left: -140px;
    }
    .right .smile2 {
        margin-right: -10px;
    }
    section.lower .left {
        margin-right: -150px;
          width: 600px;
    }
}
@media screen and (max-width: 917px) {
    section.lower .container .right h1 {
        font-size: 1.6em;
    }

    section.lower .right .target > div {
        font-size: 14px;
        width: 6rem;
    }
    section.lower .right .target .all {
        margin-right: 82px;
    }
    section.lower .right .target .all a {
        display: inline-block;
        padding: 8px 2px 2px 12px;
    }
    section.lower .right .target .hero a {
        display: inline-block;
        padding: 8px 2px 2px 16px;
    }
    section.lower .left {
        margin-right: -175px;
          width: 600px;
    }
    .right .rating .star img {
        width: 13px;
        height: 13px;
    }
    .right .rating span {
        font-size: 13px;
    }
    section.lower .right > span {
        font-size: 18px;
    }

}

@media screen and (max-width: 934px) {
    section.upper .left p {
        font-size: 14px;
      } 
      section.upper .left {
        margin-left: -20px;
    } 
    section.upper .left h1 {
        font-size: 2.3em;
      } 
      
      section.upper .right {
        margin-left: -145px;
    }
    .right .smile1 {
        width: 118px;
        height:170px;
        
    }
    .right .smile2 {
        width: 118px;
        height: 170px;
        margin-right: -14px;
    }
     section.upper .right .bottom.images .horizontal{
        position: absolute;
        top: 238px;
        left: 221px; }
        section.upper .right .bottom.images .vertical {
            position: absolute;
            left: 260px;
            top: 168px;
        }
}

@Media screen and (max-width: 911px) {
    .left .link {
        height: 30px;
    }
    section.upper .left .link div {
        width: 90px;
        height: 30px;
       
    }
    .link div.zero {
        margin-right: 10px;
    }
    section.upper .link div a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1px;
    }
    section.upper .link div.zero a {
        padding: 8px 5px 3px 17px;
        font-size: 13px;
    }
    section.upper .link div.null a {
        padding: 6px 6px 3px 13px;
        font-size: 13px;
    }
}

@media screen and (max-width: 885px) {
    
}



   




  





       













