@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&family=Roboto&display=swap");
:root {
    --background: #e5e5e5;
    --nav-color: #327d7d;
    --box1: #327d7d;
    --box2: #f08e3b;
    --box3: #2b353e;
    --list-color: #ffffffad;
    --extra: rgba(255, 255, 255, 0.2);
    --chat-color: #ffffe1;
    --section-upper: #f08e3b;
    --left-colors: #fffffff6;
    --section-middle: #50839bee;
    --section-lower: #e8fbff71;
    --bad-color: #302f2f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: var(--background);
    color: #333;
    font-family: Roboto, san-serif;
    font-size: 16px;
     overflow-x: hidden;
    appearance: none;
    outline: none;
}

img {
    max-width: 100%;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 110px 0 100px;
}
header,nav,
section,footer {
    width: 82%;

}

header {
    margin-top: 70px;
    background: red;
    height: 100px;
    margin: 0 120px 0 135px;

}

header .container {
    padding: 0;
}

header .box.model {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 120px;
    height: 30px;
    margin-bottom: 45px;

}

.box1, .box2,
 .box3 {
     width: 30px;
     height: 30px;
     margin: 0 10px 10px 0;
 }
 .box1 {
     background: var(--box1);
 }

 .box2 {
    background: var(--box2);
}
.box3 {
    background: var(--box3);
}
header h1 {
    font-family: roboto;
}

nav {
    background: var(--nav-color);
    height: 60px;
    margin: 0 120px 0 135px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
}

nav .logo {
    font-size: x-large;
    font-family: poppins;
    font-weight: 500;
}

.logo span {
    color: var(--chat-color);
}

.logo span.app {
    font-weight: lighter;
}

.list {
    margin-left: auto;
}

.list ul {
    list-style: none;
    display: flex;
}

.list ul li {
    width: 45px;
    height: 30px;
    margin-right: 6px;
    margin-left: 6px;
}

.list li a {
    text-decoration: none;
    color: var(--list-color);
    font-size: 12px;
 }

 nav .extra {
    background: var(--extra);
    width: 90px;
    height: 30px;
    border-radius: 20px;
    margin-top: -10px;

 }
 .extra a {
     text-decoration: none;
     display: inline-block;
     color: var(--list-color);
     margin: 8px 0 2px 18px;
     font-size: 12px;
 }

  section.upper {
     background: var(--nav-color);
     height: calc(70vh - 10px);
     min-height: 750px;
     margin: 0 120px 0 135px;
 }
 
  section.upper .container {
     padding-top: 70px;
     display: flex;
     justify-content: space-between;
 }

 section.upper .left {
     width: 350px;
     height: 350px;
      margin-top: 80px;
 }

 .left h1 {
     font-size: 3.5em;
     color: #fff;
     line-height: 1.2;
     font-family: poppins;
 }

 .left p {
     margin-top: 10px;
     margin-bottom: 10px;
     color: #fff;
     font-size: 18px;
 }

   section.upper .container .left .link { 
     width: 100%;
     display: flex;
     justify-content: space-between;
     height: 45px; 
    }
 
 section.upper .left .link div {
     transition: transform calc(2s - 900ms) ease;
 }
 .left .link div:hover {
     transform: translateY(-10px);
 }

 .left .link .zero { 
     background: #fff;
     width: 130px;
     border-radius: 30px 30px;
     height: 38px;
     margin-top: 540px;
     margin-left: 120px;

 }

 .link .zero a.first {
     display: inline-block;
     padding: 10px 0 2px 25px;
     text-decoration: none;
     font-size: 14px;
     color: var(--nav-color);
 }
 .link .null { 
    border: 1px solid #fff;
    width: 130px;
    border-radius: 30px 30px;
    height: 38px;
    margin-left: 185px;
    margin-top: 540px;

}

.link .null a.second {
    display: inline-block;
    padding: 10px 0 2px 25px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.profile.photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    clip-path: circle(50% at 47% 50%);
}

.profile1 .photo {
    clip-path: circle(50% at 47% 70%);

}

.profile2 .photo {
    clip-path: circle(50% at 45% 55%);

}

section.upper .right {
    width: 600px;
    height: 400px;
    position: relative;
}


.right > img {
    width: 175px;
    height: 280px;
}

.smile1 {
    position: absolute;
    top: 60px;
    left: 155px;
}

.smile2 {
    position: absolute;
    right: 0;
    top: 245px;
}

.right .top.image {
    border-radius: 50%;
}

.right .top.image .vertical {
    display: grid;
    grid-template: repeat(10, 13px) / repeat(2, 13px);
    justify-content: center;
    padding: 0 20px;
    position: absolute;
    top: 38px;
    left: 110px;
}

.right .top.image .vertical img {
    width: 4px;
}

.right .top.image .horizontal {
    display: grid;
    grid-template: repeat(2, 13px) / repeat(8, 13px);
    justify-content: center;
    padding: 0 20px;
    position: absolute;
    top: 38px;
    left: 135px;
}

.right .top.image .horizontal img {
    width: 4px;
}

.right .bottom.images .vertical {
    display: grid;
    grid-template: repeat(7, 13px) / repeat(3, 13px);
    justify-content: center;
    padding: 0 20px;
    position: absolute;
    bottom: 50px;
    left: 320px;
}

.right .bottom.images .vertical img {
    width: 4px;
}

.right .bottom.images .horizontal{
    display: grid;
    grid-template: repeat(3, 13px) / repeat(7, 13px);
    justify-content: center;
    padding: 0 20px;
    position: absolute;
    bottom: 13px;
    left: 268px;
}

.right .bottom.images .horizontal img {
    width: 4px;
}



.profile1 {
    width: 300px;
    height: 60px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: start;
    position: absolute;
    top: 130px;
    left: 300px;
    }

    .profile1 span {
        font-size: 12px;
        color: #fff;
        width: 10rem;
        height: 1.8rem;
        background: var(--box2);
        display: inline-block;
        padding: 5px 4px 2px 6px;
        border-radius: 0 30px 30px 30px;
    }

    .profile1 .photo {
        margin-top: -5px;
    }

    .ellipse {
        width: 4rem;
        height: 2rem;
        background: var(--extra);
        position: absolute;
        left: 400px;
        top: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        border-radius: 0 10px 10px 10px;
    }

    .ellipse1 {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--list-color);
    }

    .ellipse2 {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: var(--list-color);
    }

    .ellipse3 {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: var(--list-color);
    }

    .profile2 {
        width: 150px;
        height: 60px;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: start;
        position: absolute;
        top: 350px;
        left: 140px;
        }

        .profile2 span {
            font-size: 12px;
            color: #fff;
            width: 5rem;
            height: 1.8rem;
            background: var(--box2);
            display: inline-block;
            padding: 4px 4px 2px 17px;
            border-radius: 30px 0 45px 30px;
        }

        section.middle {
            background: #fff;
            height: 80vh;
            min-height: 900px;
            margin: 0 120px 0 135px;
        }

        section.middle .container {
            position: relative;
            padding-top: 90px;
        }

        section.middle .head {
            width: 540px;
            margin: 0 auto;
            text-align: center;
        }
        section.middle .head h1 {
            font-size: 2.4em;
            padding-bottom: 30px;
        }

        section.middle .head p {
            color: var(--section-middle);
            text-indent: 30px;
        }

        section.middle .body {
            position: relative;
            margin: 0 auto;
        }

        section.middle .up.image  {
            border-radius: 50%;
        }
        
        section.middle .up.image .vertical {
            display: grid;
            grid-template: repeat(8, 13px) / repeat(3, 13px);
            justify-content: center;
            position: absolute;
            top: 48px;
            left: 22px;
        }

        section.middle .up.image .vertical img {
            width: 4px;
        }

        section.middle .up.image .horizontal {
            display: grid;
            grid-template: repeat(2, 13px) / repeat(10, 13px);
            justify-content: center;
            position: absolute;
            top: 22px;
            left: 22px;
        }

        section.middle .up.image .horizontal img {
            width: 4px;
        }

        section.middle .down.image {
            display: grid;
            grid-template: repeat(10, 13px) / repeat(3, 13px);
            justify-content: center;
            position: absolute;
            bottom: 78px;
            right: 0;
        }

        section.middle .down.image img {
            width: 4px;
        }
     
      section.lower {
          background: var(--section-lower);
          height: 95vh;
          min-height: 730px;
          margin: 0 120px 0 135px;
      }

      section.lower .container {
          padding: 0;
          padding-top: 140px;
          display: flex;
          align-items: center;
          justify-content: space-between;
      }

      section.lower .left {
          width:480px;
          position: relative;
          bottom: 55px;
      }

      section.lower .left .lower.image {
          display: grid;
          grid-template: repeat(2, 13px) / repeat(10, 13px);
          justify-content: center;
          padding: 0 20px;
          position: absolute;
          top: -25px;
          left: 0;
      }

      section.lower .left .lower.image img {
          width: 4px;
          border-radius: 50%;
      }

     section.lower .left .lowest.image .vertical {
        display: grid;
        grid-template: repeat(10, 13px) / repeat(3, 13px);
        justify-content: center;
        padding: 0 20px;
        position: absolute;
        top: 255px;
        left: 392px;
    }

    section.lower .left .lowest.image .vertical img {
        width: 3.5px;
        border-radius: 50%;
    }


    section.lower .left .lowest.image .horizontal {
        display: grid;
        grid-template: repeat(3, 13px) / repeat(7, 13px);
        justify-content: center;
        padding: 0 20px;
        position: absolute;
        top: 345px;
        left: 300px;
    }

    section.lower .right {
        width: 600px;
        margin-left: 200px;
        margin-bottom: 140px;
    }

    section.lower .left .lowest.image .horizontal img {
        width: 3.5px;
        border-radius: 50%;
    }

    section.lower h1 {
        font-size: 2.4em;
        font-family: poppins;
        margin: 10px 30px;
    }

    section.lower span.price {
        display: inline-block;
        margin: 15px 30px;
        color: var(--section-middle);
        font-size: 20px;
    }

    section.lower .target {
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin: 15px 28px;
        
    }

    section.lower .target div {
        transition: transform 1s;
    }
     
    section.lower .target div:hover {
        transform: translateY(-10px);
    }


    section.lower .target .hero {
        width: 130px;
        height: 35px;
        border-radius: 30px 30px;
        background: var(--nav-color);
    }

    section.lower .target .hero a {
        text-decoration: none;
        display: inline-block;
        padding: 7px 0 10px 25px;
        color: #fff;
    }

    section.lower .target .all {
        width: 130px;
        height: 35px;
        border-radius: 30px 30px;
        border: 1px solid var(--nav-color);
    }

     section.lower .target .all a {
         text-decoration: none;
         display: inline-block;
         padding: 7px 0 10px 25px;
         color: var(--nav-color);
     }

      section.lower .right .rating {
          width: 400px;
          height: 60px;
          display: flex;
          gap: 2.5rem;
          margin-top:60px;
          margin-left: 30px;
      }



      .rating .star img {
          display: inline-block;
          width: 18px;
          height: 18px;
          margin: 2px 2px;
      }

      .rating span {
          font-family: roboto, san-serif;
          font-size: 15px;
      }

      footer {
          background: #fff;
          height: 70vh;
          min-height: 500px;
          margin: 0 120px 0 135px;
      }

      footer .container {
          position: relative;
          display: flex;
          flex-direction: column;
      }

      footer .container .intro {
          width: 180px;
          margin-top: 80px;

      }

      footer main {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      footer .intro h3 {
          font-size: x-large;
          font-family: poppins;
          margin-bottom: 10px;
      }

      footer h3 span {
          color: var(--nav-color);
      }

      footer h3 span.app {
          color: var(--box1);
          font-weight: lighter;
      }

      footer .table {
          margin-top: 135px;
          font-size: 12px;
          height: 138px;
          width: 600px;
      }

      footer table thead th {
          text-align: left;
      }

      footer table thead td {
          text-align: left;
      }
       
      footer .intro p {
          font-size: 12px;
      }

      footer table thead th {
          font-weight: bold;
          font-size: 19px;
          padding-bottom: 10px;
      }

    footer table tbody tr:last-child td:last-child {
        vertical-align: text-top;
    }

    footer .container > span {
        position: absolute;
        top: 470px;
        font-size: 12.5px;
    }
    /* END OF STYLE */
    

    @Media screen and (max-width: 1180px) {
        header {
            margin-top: 65px;
            height: 80px;
        }
        header .container{
            height: 15px;
        }

        header .box.model div {
            width: 25px;
            height: 25px;
        }

        header h3 {
            font-size: 15px;
            margin-top: -15px; }
    
        nav .logo span{
            font-size: 19.5px;
        }

        .list ul {
            font-size: 11px;
        }
        .extra {
            width: 25px;
        }

        section.upper{
             margin-top: -5px;
        }
        section.upper .left h1 {
            font-size: 3em;
        }
        .left .link {
            height: 30px;
        }
        .left .link div {
            width: 104px;
            height: 35px;
        }
        .link div.zero {
            margin-right: 10px;
        }
        .link div a {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        section.upper .right {
            margin-left: -15px;
        }

        .right .smile1 {
            width: 130px;
            height:200px;
            
        }

        .right .smile2 {
            width: 130px;
            height:200px;
            margin-right: -51px;
        }
        .right .ellipse {
            left: 340px;
        } 
        .right .bottom.images .vertical {
            position: absolute;
            left: 275px;
            top: 180px;
        }
        .right .bottom.images .horizontal {
            position: absolute;
            left: 223px;
            top: 270px;
        }

        .profile1 {
            position: absolute;
            left: 238px;
        }
        .profile1 span {
            width: 9rem;
            font-size: 11px;
        }
        .profile2 {
            position: absolute;
            left: 120px;
            top: 270px;
            width: 120px;
            display: flex;
            gap: 0.5rem;
        }
        .profile2 span {
            width: 4rem
        }

        section.middle h1 {
            font-size: 2em;
        }
        section.lower p {
            font-size: 14px;
        }
        section.lower .left .lowest.image .vertical {
              top: 245px;
              left: 255px;
        }
        section.lower .left .lowest.image .horizontal {
            top: 336px;
            left: 165px;
      }
        .pixel {
            width: 300px;
            height: 300px;
        }
        .rating .star {
            width: 148px;
        }

       .right .rating .star img {
            width: 16.5px;
            height: 16.5px;
        }
        .rating span {
            margin-left: -40px;
        }

        footer .table {
            margin-left: 100px;
            font-size: 11px;
        }
        footer .container > span {
            margin-top: -25px;
        }
    }
    @Media screen and (max-width: 1090px) {
        section.upper .right {
            margin-left: -43px;
        }
        .right .smile1 {
            width: 130px;
            height:200px;
            
        }
        .right .smile2 {
            width: 140px;
            height: 200px;
            margin-right: -42px;
        }
           
        section.middle .head h1 {
            font-size: 1.9em;
        }
        section.middle .head p {
            font-size: 15px;
        }
        .right .rating .star img {
            width: 14px;
            height: 14px;
        }

        .link .null a.second {
            display: inline-block;
            padding: 8px 2px 2px 17px;
        }
        section.lower .left {
            margin-right: -90px;
              width: 600px;
        }
        section.lower .left .lowest.image .vertical {
            top: 245px;
            left: 330px;
      }
      section.lower .left .lowest.image .horizontal {
          top: 336px;
          left: 241px;
    }
    section.lower .right h1 {
        font-size: 1.9em;
    }
    section.lower .right .rating {
        margin-top: 35px;

    }
    section.upper {
        min-height: 660px;
        z-index: 2;
    }
    section.middle {
        min-height: 720px;
        margin-top: -40px;
        z-index: 1;
    }
    section.lower {
        min-height: 600px;
    }
    footer {
        min-height: 400px;
    }

    footer .container > span {
        margin-top: -45px;
    }
    }
    @media screen and (max-width: 1078px) {
        section.upper .right {
            margin-left: -51px;
        }
        section.lower .left .lowest.image .vertical {
            top: 245px;
            left: 310px;
      }
      section.lower .left .lowest.image .horizontal {
          top: 336px;
          left: 220px;
    }

    }
    @media screen and (max-width: 1071px) {
        section.upper .right {
            margin-left: -57px;
        }
    }
    @media screen and (max-width: 1065px) {
        section.upper .right {
            margin-left: -60px;
        }
    }
    @media screen and (max-width: 1060px) {
        section.upper .right {
            margin-left: -78px;
        }
        .right .smile2 {
            top: 230px;
            margin-right: -35px;
        }
        
        section.lower .left .lowest.image .vertical {
            top: 245px;
            left: 295px;
      }
      section.lower .left .lowest.image .horizontal {
          top: 336px;
          left: 207px;
    }
    
    }
    @media screen and (max-width: 1045px) {
        section.upper .right {
            margin-left: -90px;
        }
        .right .smile2 {
            top: 230px;
        } 
        section.upper .left h1 {
            font-size: 2.8em;
        } 
    }
    @media screen and (max-width: 1033px) {
        section.upper .right {
            margin-left: -100px;
        }
        .right .smile2 {
            top: 230px;
        } 
        section.upper .left h1 {
            font-size: 2.8em;
        }
        section.middle .head p {
          font-size: 13.4px;
        } 
    }

    @media screen and (max-width: 1019px) {
        section.upper .right {
            margin-left: -105px;
        }
        section.upper .left h1 {
            font-size: 2.5em;
        } 
          
        section.lower .left .lowest.image .vertical {
            top: 245px;
            left: 270px;
      }
      section.lower .left .lowest.image .horizontal {
          top: 336px;
          left: 180px;
    }

    }

    @Media screen and (max-width: 1011px) {
        section.upper .right {
            margin-left: -115px;
        }

 } 

 @Media screen and (max-width: 1003px) {
    section.upper .right {
        margin-left: -115px;
    }

    section.lower .container .right h1 {
        font-size: 1.7em;
        line-height: 1.3;
    }

    section.lower .right .target > div {
        width: 7rem;
    }
    section.lower .right .target .all {
        margin-right: 55px;
    }
    section.lower .right .target .all a {
        display: inline-block;
        padding: 6px 2px 2px 15px;
    }

}

@media screen and (max-width: 999px) {
    section.upper .right {
        margin-left: -115px;
    }
    .right .smile1 {
        width: 130px;
        height:200px;
        
    }
    .right .smile2 {
        width: 140px;
        height: 200px;
        margin-right: -42px;
    }
       
}
@Media screen and (max-width: 988px) {
    section.upper .right {
        margin-left: -120px;
    }
    .right .smile1 {
        width: 120px;
        height:180px;
        
    }
    .right .smile2 {
        width: 120px;
        height: 180px;
        margin-right: -30px;
    }
    section.upper .right .bottom.images .vertical {
        position: absolute;
        left: 262px;
        top: 176px;
    }
    section.upper .right .bottom.images .horizontal {
        position: absolute;
        left: 222px;
        top: 245px;
    }
    .right .bottom.images .vertical {
        display: grid;
        grid-template: repeat(7, 10px) / repeat(3, 10px);
        justify-content: center;
        padding: 0 20px;
        position: absolute;
        bottom: 50px;
        left: 320px;
    }
    
    .right .bottom.images .vertical img {
        width: 3px;
    }
    
    .right .bottom.images .horizontal{
        display: grid;
        grid-template: repeat(3, 10px) / repeat(7, 10px);
        justify-content: center;
        padding: 0 20px;
        position: absolute;
        bottom: 13px;
        left: 268px;
    }
    .right .bottom.images .horizontal img {
        width: 3px; }

        
.right .top.image .vertical {
    display: grid;
    grid-template: repeat(10, 13px) / repeat(2, 13px);
    justify-content: center;
    padding: 0 20px;
    position: absolute;
    top: 38px;
    left: 110px;
}

.right .top.image .vertical img {
    width: 3px;
}

.right .top.image .horizontal {
    display: grid;
    grid-template: repeat(2, 10px) / repeat(8, 10px);
    justify-content: center;
    padding: 0 20px;
    position: absolute;
    top: 38px;
    left: 135px;
}

.right .top.image .horizontal img {
    width: 3px;
}

.profile1 {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    left: 210px;
}
.profile1 span {
    width: 7.5rem;
    font-size: 10px;
    display: inline-block;
    padding: 8px 2px 2px 2px;
}
.profile2 {
    position: absolute;
    left: 110px;
    top: 270px;
    width: 120px;
    display: flex;
    gap: 0.3rem;
}
.profile2 span {
    margin-left: 2rem;
    width: 3.5rem;
    font-size: 10px;
    padding: 8px 1px 1px 10px;
}

section.lower .left {
    margin-right: -120px;
      width: 600px;
}

footer .table th {
    font-size: 14px;
}
footer .table th,td {
    width: 80px;
    height: 30px;
    text-align: center;
}

         
}
@media screen and (max-width: 952px) {
    section.upper .left h1 {
      font-size: 2.5em;
    }
    section.upper .left {
        margin-left: -15px;
    }
     section.upper .left p {
       font-size: 15px;
     }
     section.upper .right {
        margin-left: -140px;
    }
    .right .smile2 {
        margin-right: -10px;
    }
    section.lower .left {
        margin-right: -150px;
          width: 600px;
    }
}
@media screen and (max-width: 917px) {
    section.lower .container .right h1 {
        font-size: 1.6em;
    }

    section.lower .right .target > div {
        font-size: 14px;
        width: 6rem;
    }
    section.lower .right .target .all {
        margin-right: 82px;
    }
    section.lower .right .target .all a {
        display: inline-block;
        padding: 8px 2px 2px 12px;
    }
    section.lower .right .target .hero a {
        display: inline-block;
        padding: 8px 2px 2px 16px;
    }
    section.lower .left {
        margin-right: -175px;
          width: 600px;
    }
    .right .rating .star img {
        width: 13px;
        height: 13px;
    }
    .right .rating span {
        font-size: 13px;
    }
    section.lower .right > span {
        font-size: 18px;
    }

}

@media screen and (max-width: 934px) {
    section.upper .left p {
        font-size: 14px;
      } 
      section.upper .left {
        margin-left: -20px;
    } 
    section.upper .left h1 {
        font-size: 2.3em;
      } 
      
      section.upper .right {
        margin-left: -145px;
    }
    .right .smile1 {
        width: 118px;
        height:170px;
        
    }
    .right .smile2 {
        width: 118px;
        height: 170px;
        margin-right: -14px;
    }
     section.upper .right .bottom.images .horizontal{
        position: absolute;
        top: 238px;
        left: 221px; }
        section.upper .right .bottom.images .vertical {
            position: absolute;
            left: 260px;
            top: 168px;
        }
}

@Media screen and (max-width: 911px) {
    .left .link {
        height: 30px;
    }
    section.upper .left .link div {
        width: 90px;
        height: 30px;
       
    }
    .link div.zero {
        margin-right: 10px;
    }
    section.upper .link div a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1px;
    }
    section.upper .link div.zero a {
        padding: 8px 5px 3px 17px;
        font-size: 13px;
    }
    section.upper .link div.null a {
        padding: 6px 6px 3px 13px;
        font-size: 13px;
    }
}

@media screen and (max-width: 885px) {
    section.middle .body .up.image .vertical {
        position: absolute;
        top: 25px;
        left: -10px;
    }
    section.middle .body .up.image .vertical img {
        width: 3px;
    }
    section.middle .body .up.image .horizontal {
        position: absolute;
        top: -2px;
        left: -10px;

    }
    section.middle .body  .up.image .horizontal img {
        width: 3px;
    }

    section.middle .body .down.image {
        position: absolute;
        right: -7px;
        bottom: 40px;
    }

    section.middle .body .down.image img {
         width: 3px;
    }

    section.middle .head h1 {
        font-size: 1.7em;
    }
    section.middle .body {
        margin-top: 40px;
    }

    section.lower .left .lowest.image .vertical {
        top: 245px;
        left: 248px;
  }
  section.lower .left .lowest.image .vertical img {
      width: 3px;
  }

  section.lower .left .lowest.image .horizontal {
      top: 336px;
      left: 159px;
}

section.lower .left .lowest.image .horizontal img {
    width: 3px;
}

section.lower .left .lower.image img {
    width: 3px;
}

.rating .star {
    margin-left: 15px;
}
.rating span {
    width: 128px;
}
footer .table th {
    font-size: 12px;
}
footer .table th,td {
    width: 90px;
    height: 35px;
    text-align: left;
}


}
@media screen and (max-width: 878px) {
    section.upper .right {
        margin-left: -175px;
    }
    section.upper .right .smile1 {
        width: 110px;
        height:160px;
        
    }
    section.upper .right .smile2 {
        width: 110px;
        height: 160px;
        margin-right: -6px;
    }
         
section.upper .right .bottom.images .vertical {
    top: 155px;
    left: 250px;
}

section.upper .right .bottom.images .horizontal {
    top: 225px;
    left: 210px;
}
.ellipse {
    width: 3rem;
}
.profile1 span {
    width: 6rem;
    font-size: 8.2px;
    display: inline-block;
    padding: 8px 2px 2px 2px;
}
.profile1 {
    position: absolute;
    left: 190px;
    top: 100px;
}
section.lower .left .lowest.image .vertical {
    top: 225px;
    left: 238px;
}

section.lower .left .lowest.image .horizontal {
    top: 316px;
    left: 149px;
}
footer .table {
    margin-right: -70px;
    width: 900px;
}
    
}
@media  screen and (max-width: 838px) {
    section.lower .left .lowest.image .vertical {
        top: 225px;
        left: 210px;
    }
    
    section.lower .left .lowest.image .horizontal {
        top: 316px;
        left: 121px;
    } 
    section.lower .right {
        margin-right: -10px;
    }   
}

@media screen and (max-width: 827px) {
    section.upper .right {
        margin-top: -30px;
    }
    section.upper .right .smile2 {
        margin-right: -23px;
    }
    }

    @media screen and (max-width: 812px) {
        section.lower .left .lowest.image .vertical {
            top: 220px;
            left: 200px;
        }
        
        section.lower .left .lowest.image .horizontal {
            top: 311px;
            left: 111px;
        } 
        section.lower .left {
            margin-right: -183px;
        } 

        .right .rating .star img {
            width: 11px;
            height: 11px;
        }
        section.middle .head h1 {
            margin-right: 60px;
        }
        section.middle .container .head p {
            margin: 0 auto;
            margin-right: 60px;
        }
    }

    @media screen and (max-width: 808px) {
        section.upper .right .bottom.images .vertical {
            top: 155px;
            left: 250px;
        }
        
        section.upper .right .bottom.images .horizontal {
            top: 225px;
            left: 210px;
        }
        section.upper .right {
            margin-top: -50px;
            margin-left: -130px;
        }  
        section.upper .right .smile2 {
            width: 100px;
            height: 130px;
            margin-top: -55px;
            margin-right: -30px;
        } 
        section.upper .right .smile1 {
            width: 100px;
            height: 130px;
        } 
        .left .link {
            height: 30px;
        }
        section.upper .left .link div {
            width: 75px;
            height: 30px;
           
        }
        .link div.zero {
            margin-right: 10px;
        }
        section.upper .link div a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 8px;
        }
        section.upper .link div.zero a {
            padding: 8px 5px 3px 15px;
            font-size: 11.5px;
        }
        section.upper .link div.null a {
            padding: 7px 6px 3px 8px;
            font-size: 11.5px;
        } 
        section.upper .left h1 {
            font-size: 2.2em;
          }
          section.upper .left {
              margin-left: -15px;
          }
           section.upper .left p {
             font-size: 13px;
           } 
          
           section.upper .right .bottom.images .vertical {
            top: 125px;
            left: 240px;
        }
        
        section.upper .right .bottom.images .horizontal {
            top: 195px;
            left: 200px;
        }
        .profile1 {
            position: absolute;
            left: 175px;
            top: 70px;
        }
        .profile1 span {
            width: 5rem;
            font-size: 8px;
            display: inline-block;
            padding: 4px 1px 1px 5px;
        }
        .right .ellipse {
            width: 2.5rem;
            position: absolute;
            left: 310px;
            top: 115px;
        }
        .profile2 {
            left: 84px;
            top: 200px;
            width: 120px;
            display: flex;
            gap: 0.5rem;
        }
        .profile2 span {
            width: 3rem;
            height: 1.5rem;
            font-size: 8px;
            display: inline-block;
            padding: 8px 1px 1px 8px;
        }
        .profile.photo {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            clip-path: circle(50% at 47% 50%);
        }
        
        .profile1 .photo {
            clip-path: circle(45% at 47% 70%);
        
        }
        
        .profile2 .photo {
            clip-path: circle(44% at 47% 52%);
        
        }
        section.middle .body .down.image {
            position: absolute;
            right: -11px;
            bottom: 40px;
        }
        section.lower .container .right h1 {
            font-size: 1.3em;
        }
        section.lower .container .right span {
            font-size: 15px;
        }
    
        section.lower .right .target > div {
            font-size: 12px;
            width: 5rem;
            height: 1.9rem;
        }
        section.lower .right .target .all {
          margin-right: 118px;
        }
        section.lower .right .target .all a {
            display: inline-block;
            padding: 8px 2px 2px 12px;
        }
        section.lower .right .target .hero a {
            display: inline-block;
            padding: 8px 2px 2px 16px;
        }
        section.lower .right .rating span {
            font-size: 12px;
            margin-left: -80px;
        }
    }
    @media screen and (max-width: 800px) {
        section.upper .right .smile2 {
            width: 100px;
            height: 130px;
            margin-top: 0;
            margin-right: 15px;
        }
    }
    
    @media screen and (max-width: 786px) {
        body {
            height: 100vh;
        }
        section.lower .right {
            position: relative;
            margin-left: -10px;
            left: 20px;
            top: -45px;
        }
        section.lower .container .right h1 {
            position: absolute;
            left: 95px;
            top: -50px;
        }
        section.lower .container .right span {
            position: absolute;
            left: 90px;
            top: 10px;
        }

        section.lower .right .target {
            position: absolute;
            top: 50px;
            left: 92px;
        }

        section.lower .right .target .all a {
            display: inline-block;
            padding: 7px 7px 2px 10px;
        }

        section.lower .right .rating {
            position: absolute;
            top: 80px;
            left: 80px;
        }
        section.lower .right .rating span {
            font-size: 11px;
            margin-left: -80px;
        }
        section.lower .left {
            margin-left: 0;
        }
        section.lower .left .lowest.image .vertical {
            top: 160px;
            left: 230px;
        }
        
        section.lower .left .lowest.image .horizontal {
            top: 252px;
            left: 140px;
        } 
        .pixel {
            width: 240px;
            height: 240px;
        }
        section.middle .container .head p {
            margin: 0 auto;
            margin-right: 85px;
        }
        section.middle .body .down.image {
            position: absolute;
            right: -19px;
            bottom: 40px;
        }
        footer  {
            position: relative;
        }
        footer .table {
            position: absolute;
            top: -90px;
            left: 140px;
            margin-right: -90px;
            width: 180px;
        }
        footer .table th,td {
            padding-right: 18px;
            text-align: left;
            font-size: 11px;
        }
        footer .intro {
            position: absolute;
            top: -25px;
            left: 18px;
        }
        footer .intro h3 {
            font-size: 21px;
            font-family: poppins;
            margin-bottom: 10px;
        }
        section.upper {
            min-height: 520px;
        }
        section.middle {
            min-height: 610px;
            margin-top: -20px;
        }
        section.lower {
            height: 70vh;
            min-height: 300px !important;
        }
        footer {
            height: 50vh;
            min-height: 300px;
        }
        footer .container > span {
            margin-top: -160px;
            margin-left: -85px;
        }

    }
    @media screen and (max-width: 740px) {
        section.upper .right .smile2 {
            width: 100px;
            height: 130px;
            margin-top: 10px;
            margin-right: 15px;
        }
        nav .container{
            position: relative;
        }
        nav .list {
            position: absolute;
            top: 30px;
            right: 120px;
        }
        nav .list ul li {
            margin-right: 10px;
            text-align: right;
        }
        nav .extra {
            position: absolute;
            right: 30px;
            top: 32px;
            width: 80px;
        }
        nav .extra a {
            margin-left: 13px;
            display: inline-block;
            padding: 1px 8px 2px 0;
        }
        section.middle .container .head p {
            margin: 0 auto;
            margin-right: 155px;
        }
        section.middle .head h1 {
            margin-right: 120px;
        }
    }
    @media screen and (max-width: 734px) {
        section.upper .left h1 {
            font-size: 2.1em;
          }
          section.upper .left {
              margin-left: -35px;
            }
    }

    
          @media screen and (max-width: 715px) {
              nav .logo {
                  margin-left: -32px;
              }
              nav .extra {
                position: absolute;
                right: 52px;
                top: 32px;
            }
            nav .list {
                top: 30px;
                right: 140px;
            }
            .profile1 {
                left: 167px;
                top: 70px;
        }
         footer .table {
                    position: absolute;
                    top: -90px;
                    left: 108px;
                    margin-right: -90px;
                    width: 180px;
            }

    section.middle .body .big.image {
        width: 400px;
    }
    section.middle .body .down.image {
        position: absolute;
        right: -65px;
        bottom: 40px;
    }
         }

    @Media screen and (max-width: 702px) {
        section.middle .container .head p {
            margin: 0 auto;
            margin-right: 175px;
        }
        section.middle .head h1 {
            margin-right: 170px;
        }
        section.upper .left p {
            width: 140px;
          }
          section.upper .right {
            margin-top: -50px;
            margin-left: -150px;
        } 

    }
    
    @media screen and (max-width: 688px) {
        section.upper .left {
            margin-left: -48px;
          }
          section.middle .body .big.image {
              position: absolute;
              left: -60px;
              width: 450px;
            }
          
              section.middle .body .down.image {
                position: absolute;
                right: -65px;
                top: 155px;
            }
            section.middle .body .up.image .vertical {
                top: 25px;
                left: -70px;
            }
            section.middle .body .up.image .vertical img {
                width: 2.5px;
                border-radius: 50%;
            }
            section.middle .body .up.image .horizontal {
                position: absolute;
                top: -2px;
                left: -70px;
        
            }
            section.middle .body  .up.image .horizontal img {
                width: 2.5px;
                border-radius: 50%;
            }
            footer .table {
                top: -90px;
                left: 96px;
                margin-right: -30px;
        }
        section.lower .right {
            position: relative;
            margin-left: -10px;
            left: 7px;
            top: -45px;
        }
 }
 
 @media screen and (max-width: 680px) {
    section.middle .body .big.image {
        position: absolute;
        left: -60px;
        width: 400px;
      }
    
        section.middle .body .down.image {
          position: absolute;
          right: -40px;
          top: 118px;
      }
      section.middle .body .down.image img {
          border-radius: 50%;
      }
      footer .table {
        top: -90px;
        left: 80px;
        margin-right: -10px;
}
 }

 @media screen and (max-width:674px) {
    footer .table th {
        font-size: 12px;
    }
    footer .table td {
        font-size: 10px;
    }
    footer .intro p {
        font-size: 11px;
        width: 7rem;
    }
    section.middle .body .up.image .vertical {
      display: none;
    }
    section.middle .body .up.image .horizontal {
        display: none;

    }
    section.middle .head h1 {
        margin-right: 200px;
    }
    section.middle .container .head p {
        margin-right: 220px;
    }
    section.lower .left .lowest.image .vertical {
        display: none;
    }
    
    section.lower .left .lowest.image .horizontal {
        display: none;
    } 
    nav .logo {
        margin-left: -47px;
    }    
 }

 @media screen and (max-width: 660px) {
    section.upper .left {
        margin-left: -68px;
      }
      nav .logo {
        margin-left: -57px;
     }
     section.middle .body .down.image {
        right: -62px;
        top: 118px;
    }
    section.lower .right {
        position: relative;
        margin-left: -10px;
        left: 4px;
        top: -45px;
    }
    section.lower .container .right span {
        font-size: 13.4px;
    }
}

@media screen and (max-width: 640px) {
    section.upper .right .bottom.images .vertical {
        display: none;
    }
    
    section.upper .right .bottom.images .horizontal {
        display: none;
    } 
    section.upper .right .top.image .vertical {
        display: none;
    }
    
    section.upper .right .top.image .horizontal {
        display: none;
    }
    .profile1 {
        left: -25px;
        top: 70px;
    }
    .right .ellipse {
        width: 2.5rem;
        position: absolute;
        left: 110px;
        top: 115px;
    }
    section.upper .right .smile1 {
        position: absolute;
        top: 40px;
        left: 220px;
    }
    section.upper .right .smile2 {
        position: absolute;
        top: 230px;
        left: 180px;
    }
    .profile2 {
        left: 55px;
        top: 335px;
    }
    footer .table {
        top: -90px;
        left: 55px;
}
footer .container > span {
    font-size: 12px;
}

}
@media screen and (max-width: 625px) {
    section.middle .body .down.image {
        position: absolute;
        right: -75px;
        top: 118px;
    }
    section.lower .container .right span {
        font-size: 13.2px;
    }
}
@media screen and (max-width: 614px) {
    nav .logo {
        margin-left: 90px;
     }
     nav .logo span {
        font-size: x-large;
     }
     nav .extra {
        position: absolute;
        right: 92px;
        top: 58px;
    }
    nav .list {
        top: 58px;
        right: 180px;
    }
    section.middle .body .big.image {
        left: -90px;
        width: 400px;
      }
      section.middle .body .down.image {
        right: -45px;
        top: 118px;
    }
    section.middle .head h1 {
        text-align: left;
        font-size: 1.6em;

    }
    section.middle .container .head p {
            margin-left: -60px;
    }
    footer .intro p {
        font-size: 11px;
        width: 5rem;
    }
    footer .table {
        top: -90px;
        left: 35px;
   }
   footer .table th,td {
    padding-right: 10px;
    text-align: left;
    }
    section.lower .left .pixel {
        width: 200px;
        height: 200px;
    }
    section.lower .right {
        position: relative;
        left: -28px;
        top: -45px;
    }
}
@media screen and (max-width: 611px) {
    section.middle .body .down.image {
        right: -65px;
        top: 118px;
    }
}
@media screen and (max-width: 589px) {
    section.upper .right .smile1 {
        top: 40px;
        left: 190px;
    }
    section.middle .body .down.image {
        right: -75px;
        top: 118px;
    }  
}

@media screen and (max-width: 576px) {
    section.middle .body .big.image  {
        left: -90px;
        width: 340px;
         }
         section.middle .body .down.image {
            right: -35px;
            top: 80px;
        }
        footer .table th,td {
            padding-right: 6px;
            text-align: left;
            }
            footer .table {
                top: -80px;
                left: 25px;
           }
           nav .logo {
            margin-left: 60px;
         }
    
}

@media screen and (max-width: 575px) {
    section.middle .container .head p {
        margin-left: -40px;
        width: 300px;
        text-align: justify;
  }
}

@media screen and (max-width: 572px) {
    section.lower .container .right span {
        font-size: 13.2px;
        margin-top: 1rem;
    }
    section.lower .container .right h1 {
        font-size: 1.2em;
    }
    section.lower .right .target {
        top: 70px;
        left: 92px;
    }
    section.lower .right .rating {
        position: absolute;
        top: 130px;
        left: -150px;
    }
    section.lower .right .rating span {
        position: relative;
        top: -10px;
        left: 10px;
        width: 18rem;
    }
}

@media screen and (max-width: 558px) {
    .profile1 {
        left: -55px;
        top: 70px;
    }
    section.upper .right .smile1 {
        position: absolute;
        top: 40px;
        left: 160px;
    } 
    section.upper .right .smile2 {
        position: absolute;
        top: 230px;
        left: 150px;
    }
    .profile2 {
        left: 25px;
        top: 335px;
    }
    section.lower .right .target .all {
        margin-right: 130px;
      }
      section.middle .body .down.image {
        right: -50px;
        top: 80px;
    }
    footer .table {
        top: -80px;
        left: 10px;
   }
}

@media screen and (max-width: 542px) {
    section.lower .right .rating {
        position: absolute;
        top: 130px;
        left: -130px;
    } 
    section.lower .container .right span {
        font-size: 13.2px;
        margin-top: 1rem;
    }
    section.lower .container .right h1 {
        font-size: 1.1em;
    } 
    section.lower .right .target .all {
        position: relative;
        left: -19px;
      }
      section.lower .right .target > div {
        font-size: 11px;
        width: 4.5rem;
        height: 1.9rem;
    }
    section.lower .right .target .all a {
        display: inline-block;
        padding: 8px 2px 2px 7px;
    }
    section.lower .right .target .hero a {
        display: inline-block;
        padding: 8px 2px 2px 11px;
    }
    section.middle .body .down.image {
        right: -60px;
        top: 80px;
    }
    section.middle .container .head p {
        margin-left: -50px;
        width: 300px;
        text-align: justify;
  }
  section.middle .head h1 {
    text-align: left;
    font-size: 1.5em;
    position: relative;
    left: -20px;
   }
   nav .logo {
    margin-left: 30px;
 }
 
}
@media screen and (max-width: 533px) {
    footer .table th,td {
        padding-right: 6px;
        text-align: center;
        }
        footer .table {
            top: -80px;
            left: 3px;
       } 
       nav .extra {
        right: 72px;
        top: 58px;
        width: 68px;
    }
    nav .extra a {
        font-size: 10.5px;
    }
    nav .extra a {
        margin-left: 10px;
        display: inline-block;
        padding: 3px 4px 2px 3px;
    }
    nav .list {
        top: 58px;
        right: 140px;
        font-size: 4px;

    }
    nav .list ul * {
        font-size: 12px;
    } 
}
 
@media screen and (max-width: 525px) {
    footer .table th,td {
        padding-right: 6px;
        text-align: center;
        }
        footer .table {
            position: relative;
            top: -20px;
            left: -270px;
       }
       footer .intro p {
        font-size: 11px;
        width: 8rem;
    }
    footer .container > span {
        font-size: 11px;
    }
    footer .intro {
        position: relative;
        left: 40px;
        top: -130px;
    }
    section.middle .body .down.image {
        display: none;
    }
    .profile1 {
        left: 55px;
        top: 200px;
    }
    section.upper .right .smile1 {
        position: absolute;
        top: 160px;
        left: 270px;
    } 
    section.upper .right .profile1 span {
        width: 4rem;
    }
    section.upper .right .smile2 {
        position: absolute;
        top: 320px;
        left: 210px;
    }
    .profile2 {
        left: 85px;
        top: 400px;
    }
    .right .ellipse {
        width: 2.5rem;
        position: absolute;
        left: 200px;
        top: 255px;
    }
    section.upper .left h1 {
        font-size: 2em;
      }
      section.upper .container {
          position: relative;
      }
      section.upper .left {
          position: absolute;
          top: 0;
        }
        section.upper .left .link .zero {
            position: absolute;
            top: 20px;
             left: 155px;
        }
        section.upper .left .link .null {
            position: absolute;
            top: 20px;
             left: 235px;
        }
}
@media screen and (max-width: 510px) {
    .pixel {
        position: absolute;
        top: 120px;
        left: 40px;
    }
    section.lower .left .lower.image {
        display: none;
    }
    section.lower .right {
        margin-left: -300px;
    }
    section.lower .right .target {
        margin-top: -10px;
    }
    section.lower .right .rating {
        left: 50px;
        top: 80px;
    }
    section.middle .container .head p {
        margin-left: -70px;
        width: 300px;
        text-align: justify;
  }
}

@media screen and (max-width: 5003px) {
    section.upper .left .link .zero {
        position: absolute;
        top: -30px;
         left: 100px;
    }
    section.upper .left .link .null {
        position: absolute;
        top: -30px;
         left: 190px;
    }
}
@media screen and (max-width: 489px) {
    nav .list ul * {
        font-size: 10.8px;
    }
    nav .extra {
        right: 102px;
        top: 60px;
        width: 64px;
        height: 28px;
    }
    nav .extra a {
        font-size: 10.5px;
    }
    nav .extra a {
        margin-left: 6px;
        display: inline-block;
        padding: 1px 4px 2px 3px;
    }
    nav .list {
        top: 58px;
        right: 180px;
        font-size: 4px;
}
nav .list ul li {
    margin-right: -5px;
}
section.upper .left .link .zero {
    position: absolute;
    top: -30px;
     left: 50px;
}
section.upper .left .link .null {
    position: absolute;
    top: -30px;
     left: 140px;
}
.profile1 {
    left: 25px;
    top: 200px;
}
section.upper .right .smile1 {
    position: absolute;
    top: 180px;
    left: 240px;
} 
section.upper .right .profile1 span {
    width: 4rem;
}
section.upper .right .smile2 {
    position: absolute;
    top: 320px;
    left: 190px;
}
.profile2 {
    left: 65px;
    top: 400px;
}
.right .ellipse {
    width: 2.5rem;
    position: absolute;
    left: 170px;
    top: 255px;
}
section.middle .container .head p {
    margin-left: -90px;
    width: 300px;
    height: 120px;
    text-align: justify;
    margin-top: -60px;
}
section.middle .head h1 {
    text-align: left;
    font-size: 1.5em;
    position: relative;
    left: -70px;
    top: -50px;
   }
   section.middle .body .big.image {
       top: -40px;
       left: -100px;
   }
   section.middle .body .big.image img {
    width: 320px;
    height: 320px;
   }
   footer .table th,td {
    padding-right: 5px;
    text-align: center;
    }
    footer .table {
        position: relative;
        top: -35px;
        left: -307px;
   }
   footer .intro p {
    font-size: 11px;
    width: 8rem;
}
footer .intro {
    position: relative;
    left: 10px;
    top: -150px;
}
   }
   
   @media screen and (max-width: 470px) {
    section.middle .container .head p {
        margin-left: -70px;
        width: 250px;
        height: 120px;
        font-size: 12px;
    }
    nav .logo {
        margin-left: 10px;
     }
   }

   @media screen and (max-width: 457px) {
    nav .list {
        top: 58px;
        right: 150px;
        font-size: 4px;
} 
nav .extra {
    right: 182px;
    top: 90px;
    width: 64px;
    height: 28px;
}
nav .extra a {
    font-size: 10.5px;
}
nav .extra a {
    margin-left: 6px;
    display: inline-block;
    padding: 1px 4px 2px 3px;
}

section.upper .left .link .zero {
    position: absolute;
    top: 140px;
     left: -25px; 
}
section.upper .left .link .null {
    position: absolute;
    top: 140px;
     left: 80px;
}
section.upper .left {
    position: absolute;
    top: -30px;
    left: 150px;
  }
  section.upper {
      min-height: 610px;
  }
  .profile1 {
    left: -25px;
    top: 270px;
}
section.upper .right .smile1 {
    position: absolute;
    top: 240px;
    left: 180px;
} 
section.upper .right .profile1 span {
    width: 4rem;
}
section.upper .right .smile2 {
    position: absolute;
    top: 390px;
    left: 170px;
}
.profile2 {
    left: 45px;
    top: 460px;
}
.right .ellipse {
    width: 2.5rem;
    position: absolute;
    left: 120px;
    top: 315px;
}
section.lower .right .rating span {
    font-size: 11px;
    margin-left: -36px;
}
section.lower .right .rating .star {
    width: 4rem;
    margin-left: 40px;
}
footer .intro {
    position: relative;
    left: -15px;
    top: -150px;
}
section.middle .body .big.image img {
    width: 280px;
    height: 290px;
   }
   nav .logo {
    margin-left: -10px;
 }
 section.upper .left {
    top: -30px;
    left: 135px;
  }
  nav .list {
    top: 58px;
    right: 145px;
    font-size: 10px;
}
      }

      @media screen and (max-width: 441px) {
          footer main .table th,td {
              text-align: left;
              vertical-align: top;
              margin-right: 102px;
              padding-right: 0;
          }
          footer .table {
            position: relative;
            top: -35px;
            left: -317px;
       }
       section.middle .container .head p {
        margin-left: -80px;
        font-size: 11.7px;
    }
    section.middle .container .head h1 {
        font-size: 1.4em;
        font-weight: bold;
        margin-left: 20px;
    }
      }
    
      @media screen and (max-width: 427px) {
        nav .list {
            top: 58px;
            right: 125px;
            font-size: 10px;
        } 
        section.middle .container .head p {
            margin-left: -90px;
            font-size: 11.5px;
        }
           section.middle .container .head h1 {
            font-size: 1.3em;
            margin-left: 17px;
        } 
        section.middle {
        max-height: 500px;
        min-height: 40vh;
        }
      }
      
      @media screen and (max-width: 415px) {
        section.middle .container .head p {
            margin-left: -45px;
            font-size: 11.5px;
            width: 160px;
        }
        section.middle .body .big.image img {
            width: 250px;
            height: 260px;
        }
        footer main .table th {
            font-size: 11px;
            font-weight: bold;
        }
        footer main .table td {
           font-size: 9.7px;
        } 
        footer main .table {
            width: 60px;
        }       
    }

    @media screen and (max-width: 404px) {
        footer main .table td {
            font-size: 8.8px;
         }
         nav .list {
            top: 58px;
            right: 105px;
            font-size: 10px;
        } 
        nav .extra {
            right: 152px;
            top: 90px;
            width: 64px;
            height: 28px;
        }
        section.upper .left {
            position: absolute;
            top: -30px;
            left: 120px;
          }
          section.upper .left .link .zero {
            position: absolute;
            top: 140px;
             left: -20px; 
        }
        section.upper .left .link .null {
            position: absolute;
            top: 140px;
             left: 70px;
        }
    }

    @media screen and (max-width: 390px) {
        section.upper .right .smile1 {
          width: 80px;
          height: 120px;
        } 
        
        section.upper .right .smile2 {
            width: 80px;
          height: 120px; 
        }
        section.middle .container .head p {
            margin-left: -60px;
            font-size: 11.5px;
            width: 160px;
        }
        section.middle .body .big.image img {
            width: 230px;
            height: 240px;
        }
        section.middle .container .head h1 {
            font-size: 1.2em;
            margin-left: 8px;
        } 
        section.lower .right .rating span {
            font-size: 10.8px;
            margin-left: -42px;
        }
        footer main .table td {
            font-size: 8.6px;
         }
         footer .intro {
            position: relative;
            left: -38px;
            top: -150px;
        }
    }
    @media screen and (max-width: 376px) {
        footer main .table td {
            font-size: 8.4px;
         } 
         footer main .table th {
            font-size: 10px;
            font-weight: bold;
        }
        section.middle .container .head h1 {
            font-size: 1.2em;
            margin-left: 2px;
        } 
        section.middle .container .head p {
            margin-left: -65px;
            font-size: 11.5px;
            width: 160px;
        }
        nav .logo {
            margin-left: -28px;
         }
         footer .container > span {
             font-size: 8.4px;
         }
    }






























      









































    


















   




  





       













